@import "../node_modules/bootstrap/";

/* Custom utility classes */
.max-w-100 {
    max-width: 100%;
}

/* utility class end */

.navbar-brand {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5rem;
}

.nav-link {
    font-family: 'Acme', cursive;
    font-size: 1.5rem;
}

.hero-image {
    max-width: 100vw;
    width: 100%;
}

.about-desc {
    font-size: 1.4rem;
}

.top-border {
    border-top: 2px solid black;
}